<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading"><%= t('trends_text') %></p>
		<a class="panel-block">
      <%= t('trends_text_el') %>
		</a>
		<a class="panel-block">
      <%= t('trends_text_el') %>
		</a>
		<a class="panel-block">
      <%= t('trends_text_el') %>
		</a>
		<a class="panel-block">
      <%= t('trends_text_el') %>
		</a>
		<a class="panel-block">
      <%= t('trends_text_el') %>
		</a>
		<a class="panel-block">
      <%= t('trends_text_el') %>
		</a>
	</nav>
</div>
